/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Capriola';
  src: url('./assets/fonts/Capriola/Capriola-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
/*   background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
 */}


