h1{ 
    font-size:300%; 
    text-align: center; 
} 
 
table{ 
    width: 100%; 
    height: 300px; 
    vertical-align: middle; 
    margin-left: 10%;
    font-size: 150%;
} 

li { 
    list-style-type: disc; 
} 
 
