<h1>Bienvenue sur CheckSanté !</h1>
<br>
<table>
        <tr>
            <td>
                <img src="assets/images/logo.jpg">
            </td>
            <td>
                    <p>CheckSanté, c'est la plateforme qui vous permet de tester en quelques minutes vos risques :</p>
                    <ul>
                        <li>d'AVC</li>
                        <li>de crise cardiaque</li>
                        <li>de diabète</li>
                    </ul>
            </td>
        </tr>
</table>