<div>
    <table>
        <tr>
            <td>
                <img src="assets/images/logo.jpg">
            <td>
                <h1>Bienvenue sur CheckSanté !</h1>
                <div class="text-align">
                    <p>CheckSanté, c'est la plateforme qui vous permet de tester en quelques minutes vos risques :</p>
                    <ul>
                        <li>d'AVC</li>
                        <li>de crise cardiaque</li>
                        <li>de diabète</li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>