.navbar {
  border-radius: 0px
}

.navbar-brand
{
    position: absolute;
    width: 16%;
    left: 42%;
    top: 0;
    text-align: center;
    margin: auto;
    font: normal bold 25px/1em Arial, Verdana, Helvetica;
    color: black;
}

.navbar-brand:hover{
  background-color: #a3a1a1;
}

.navbar li {
  height: auto;
  text-align: center;
  list-style: none;
  font: normal bold 20px/1em Arial, Verdana, Helvetica;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar a {
  padding: 11px 0;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: #a3a1a1;
}

.navbar li ul {
  display: none;
  height: auto;
  margin: 0;
  padding: 0;
}

.navbar li:hover ul {
  display: block;
}

.navbar li ul li {
  background-color: #1c8ac6;
  font: normal bold 18px/1em Arial, Verdana, Helvetica;
}

.navbar li ul li a:hover {
  background-color: #a3a1a1;
}

