<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="Accueil">
    <img src="assets/images/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    CheckSanté
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      
      <ul class="nav navbar-nav navbar-left">
        <div class="dropdown">
          <button class="dropbtn">Maladies</button>
          <div class="dropdown-content">
            <a routerLink="Maladies/AVC">AVC</a>
            <a routerLink="Maladies/Cardiaque">Maladies cardiaques</a>
            <a routerLink="Maladies/Diabete">Diabète</a>
          </div>
        </div>
        <li class="nav-item active">
          <a class="nav-link" routerLink="Informations">Mes données</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="Profile">Bilan général</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <div id="wrap">
  <nav class="navbar" role="navigation" style="background-color: #1c8ac6;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      </div>
      <a class="navbar-brand" routerLink="Accueil">CheckSanté</a>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        
        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Maladies</a>
            <ul class="dropdown-menu">
              <li><a routerLink="Maladies/AVC">AVC</a></li>
              <li><a routerLink="Maladies/Cardiaque">Maladies cardiaques</a></li>
              <li><a routerLink="Maladies/Diabete">Diabète</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right mr-auto">
          <li><a routerLink="Profile">Bilan général</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right mr-auto">
          <li>
            <a routerLink="Informations">Mes données</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div> -->