<div id="wrap">
  <nav class="navbar" role="navigation" style="background-color: #ff2626;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      </div>
      <a class="navbar-brand" href="Accueil">CheckSanté</a>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        
        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maladies<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">AVC</a></li>
              <li><a href="#">Crise cardiaque</a></li>
              <li><a href="#">Diabète</a></li>
            </ul>
          </li>
          <li><a href="#">Bilan général</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right mr-auto">
          <li class="dropdown">
            <a href="Informations" class="dropdown-toggle" data-toggle="dropdown">Mes données<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="Informations/AVC">AVC</a></li>
              <li><a href="#">Crise cardiaque</a></li>
              <li><a href="#">Diabète</a></li>
            </ul>
          </li>
          <li><a href="#">Déconnexion</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>